header {
  display: flex;
  flex-direction: row;
}

body {
  /* display: flex;
  flex-direction: column; */
  font-size: 16px;
}

.timer {
  margin-left: auto;
  margin-right: 0;
}

.pageButton {
  display: flex;
  color: white;
  background-color: #c94fb9;
  border-color: pink;
  border-width: 5px;
  border-radius: 15%;
  padding: 5px;
  width: 100px;
  justify-content: center;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

section {
  display: flex;
  flex-basis: 40%;
  background-color: lightslategray;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
  align-items: center;
}

h1,
li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.pageTitle {
  font-size: 32px;
  margin-bottom: 5vh;
}

.question {
  font-size: 2rem;
}

.answerChoiceButton {
  display: flex;
  color: white;
  background-color: #c94fb9;
  border-color: pink;
  border-width: 5px;
  border-radius: 15%;
  padding: 5px;
  width: 100px;
}

.hide {
  display: none;
}